<h1 class="text-center mt-4"><strong><%= @user.username %> Profil</strong></h1>

<%= gravatar_for @user, size: 200 %>

<h3 class="text-center mt-4"><strong>Wpisy</strong></h3>

<%= render 'articles/article' %>
